.gallery {
  height: 530px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  overflow-y: scroll;
  margin-top: 2em;
}

.gallery::-webkit-scrollbar{
  width: 10px;
}

.gallery::-webkit-scrollbar-thumb{
  background-color: gray;
  border-radius: 10px;
}

.section-main {
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 55rem;
  height: 83vh;
}

.header {
  padding-top: 50px;
  display: flex;
  justify-content: flex-start;
  font-size: 1.5em;
  margin: 1rem 0 0 4rem;
}

.githuburl:hover {
  color: blue;
}

@media (max-width: 768px) {
  .gallery {
    overflow-y: visible;
    height: auto;
  }
  .footer-projects {
    padding-bottom: 2em;
  }
}
