.section {
  display: flex;
  justify-content: center;
  padding: 4em;
  background-color: #fff;
  border-radius: 30px;
  margin: 0 20em 0 20em;
}

.project {
  background-color: #fff;
  display: flex;
  flex-direction: row;
}

.project__img-section {
  display: flex;

}

.project__img-delilah {
  height: 12em;
}

.project__info{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.project__title {
  display: block;
}

.project__description {
  display: block;
}

.project__technologies {
  display: flex;
  align-items: center;
}

.project__technology {
  background-color: #dadada;
  padding: 0.5em;
  border-radius: 2em;
  margin: 0.5em;
}




.projects-github {
  padding: 1rem;
  background-color: #dadada;
  border-radius: 8px;
  display: inline-block;
  margin: 1% 45% 0% 0%;
}

.vermas {
  text-decoration: none;
}