* {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-family: 'Merriweather', serif;
}

.body {
  background-color: #282c34;
  margin: 0;
}

.main {
  display: flex;
  justify-content: center;
  padding: 5em;
}

.header__me {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background: #fff;
  flex-direction: column;
  align-items: center;
  display: block;
  justify-content: center;
  height: 83vh;
}

.me {
  padding-top: 2rem;
  display: block;
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 3rem;
  position: sticky;
  top: 0;
}

.header__me__img {
  border-radius: 50%;
  margin-bottom: 2rem;
  width: 10rem;
}

.icons {
  padding: 1em;
}

.header__presentation {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background: #dadada;
  text-align: center;
  width: 55rem;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
