* {
  color: #000;
}

.body {
  background-color: #332f2c;
  margin: 0;
}

.main {
  outline: 5px solid #369;
  display: flex;
  justify-content: center;
  padding: 5em;
}

.header__me {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background: #fff;
  flex-direction: column;
  align-items: center;
  display: block;
  justify-content: center;
  height: 83vh;
}

.me {
  padding-top: 2rem;
  position: sticky;
  display: block;
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 3rem
}

.header__me__img {
  border-radius: 50%;
  margin-bottom: 2rem;
  width: 10rem;
}

.icons {
  padding: 1em;
}

.header__presentation {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background: #dadada;
  text-align: center;
  display: block;
  width: 55rem;
  flex-direction: column;
  display: flex;
  justify-content: center;
}


.section {
  display: flex;
  width: 100%;
  margin-top: 1em;
  flex-direction: column;
  align-items: center;
  background-color: #32f
}

.project {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #282c34 ;
  text-align: center;
  width: 50rem;
  height: 20vh;
}

.project__data {
  margin:  0 auto;
  padding: 3rem;
}

.project__info{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.project__technolgies {
  background-color: #fff;
  border-radius: 5rem;
  display: inline-block;
  padding: 0.5rem;
}

.project__title {
  padding: 0;
  margin: 0;
  color: #32f;
}

.project__description {
  padding: 0;
  margin: 0;
  color: #32f;
}

