.section-main__title {
  font-size: 40px;
  display: inline;
}

.section-main__subtitle {
  display: inline;
  font-size: 25px;
  color: #5e5e5e;
  
}

.container-sectionmain {
  display: flex;
  flex-direction: column;
}