.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5em;
}

.header__me {
  background: #fff;
  align-items: center;
  justify-content: center;
}
