.App {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 4.9rem;
}

.presentation {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background: #dadada;
  width: 55rem;
  height: 83vh;
}

.nav {
  position: absolute;
  margin-left: 90rem;
  background-color: #fff;
  border-radius: 20px;
}

.items {
  display: flex;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.items-icon {
  padding: 0.8em;
  cursor: pointer
}