.App {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  padding: 4.9rem;
}

.header__me {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background: #fff;
}

.presentation {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background: #dadada;
  display: inline-grid;
  width: 55rem;
  min-height: 83vh;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 100vw));
}

.nav {
  position: absolute;
  background-color: #fff;
  border-radius: 20px;
}

.items {
  display: flex;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.items-icon {
  padding: 0.8em;
  cursor: pointer
}

.menu-nav img {
    margin-top: 9px;
}

.menu-nav ul {
    position: absolute;
    transform: translate(-50%, -50%);
    margin-left: 7vh;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
}

.menu-nav ul li {
    list-style: none;
    margin: 10px;

}
.menu-nav ul li {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.menu-nav ul li .fa:hover {
    color: #ffffff;
}
.menu-nav ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.menu-nav ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}

.menu-nav ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.menu-nav ul li:nth-child(2) a:hover {
    background-color: #55ee5d;
}
.menu-nav ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}

@media (max-width: 768px) {
  .presentation {
    border-radius: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .header__me {
    border-radius: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    display: inline-grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 100vw));
  }

  .App {
    padding: 0rem;
  }
}